/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-image: url(unnamed\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 2;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* Form Container Styles */
.form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 2rem;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.form-container input {
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-container button {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #0056b3;
}

.welcome-message {
  font-size: 1.6rem;
  color: #28a745;
  margin-top: 2rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  body{
    unnamed\ \(1\).jpg
  }
  .form-container {
    padding: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    font-size: 1rem;
  }
}
