* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
  }
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color:#6a6f8c;
	background:rgba(40,57,101,.9);
  }
  
  .container {
	background:url(IMG-20240914-WA0026.jpg) no-repeat center;

	border-radius: 10px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
  }
  
  .form-container {
	padding: 50px;
	text-align: center;
  }
  
  h2 {
	margin-bottom: 20px;
  }
  
  input {
	width: 100%;
	padding: 15px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #ddd;
  }
  
  button {
	padding: 15px;
	background-color: #5ab4a8;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #48a198;
  }
  
  p {
	margin-top: 20px;
  }
  
  a {
	color: #5ab4a8;
	text-decoration: none;
	cursor: pointer;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  /* Cool animation */
  @keyframes slideIn {
	from {
	  opacity: 0;
	  transform: translateY(20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .form-container {
	animation: slideIn 0.5s ease-out;
  }
  
