
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 10%;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem; /* Add gap between menu items */
  transition: transform 0.3s ease-out; /* Transition effect for sliding */
}

.navbar a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #ffd700;
}

/* Section Styles */
section {
  padding: 8rem 10%;
}

.home-content {
  text-align: center;
  margin-top: 3rem;
}

/* Video Styling */
video {
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  margin-top: 0.5rem;
}

/* Portfolio Section Styles */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

.btn img {
  width: 50px;
  height: auto;
  margin-left: 10px;
  border-radius: 5px;
}

/* Welcome Message */
#welcomeMessage {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  color: #007bff;
  margin-top: 2rem;
}

/* Hamburger Menu Icon */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* Media Queries for Responsive Menu */
@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10%;
    background-color: #333;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease-out; /* Sliding transition effect */
  }

  .navbar.active {
    display: flex;
    transform: translateX(0); /* Slide into view */
  }

  .menu-toggle {
    display: block;
  }
}

/* Additional Styles */
.home-content {
  text-align: center;
  margin-top: 3rem;
}
@media (max-width: 600px) {
  section {
    padding: 4rem 7%;
  
  }
}
